body {
    margin-top : 50px;
    /* max-width: max-content; */
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
}

#hero-section {
    width: 55%;
    /* height: 500px; */
    /* height: 500px; */
    background-color: var(--primary-color);
    border: 1px solid var(--white);
    color: var(--white);
    opacity: 0.3;
    border: none;
}

/* #logo-img {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 200px;
    opacity: none;
} */

/* #logo-img {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 200px;
    opacity: none;
} */

#registration-form-section {
    display: flex;
    width: 33vw;
    height: 90vh;
    width: 33vw;
    height: 90vh;
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--primary-color);
    opacity: 0.7;
    border: none;
    margin-right: 0px;
    justify-content: center;
}



#reg-table , #signin-table {
    border-spacing: 0 10px;
    margin-top: 50px;
}





#signin-btn, #signup-btn {
    margin-left: 65px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 0 15px;
    font-size: medium;

}


input[type="text"], input[type="password"], input[type="email"]{
    width: 200px;
    height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
}

#notification {
    margin: 0 auto;
    transition: transform 5s ease-in-out 1s;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column-reverse;
    }

    #hero-section {
        display: none;
    }

    #registration-form-section {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
    }

}